<!-- Section Footer Start-->
<footer class="container-fluid ">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 text-white">
                <h2>Venez Nous Voir pendant :</h2>
            </div>

         <!-- Calender section start -->

            <!-- Calender section start -->

            <div class="col-10 py-5">
                <table class="table box-ch table-info table-striped table-hover box-ch my-5 py-5 text-danger fs-4 bg-dark rounded-top">
                    <thead class="rounded-top">
                        <tr>
                            <th scope="col">Jours</th>
                            <th scope="col">Matin</th>
                            <th scope="col">Après-midi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                <th scope="row">Lundi</td>
                <td>8:00 - 12:00</td>
                <td>13:30 - 18:00</td>
                        </tr>
                        <tr>
                            <th scope="row">Mardi</td>
                            <td>8:00 - 12:00</td>
                            <td>13:30 - 18:00</td>
                        </tr>
                        <tr>            
                <th scope="row">Mercredi</th>
                <td>8:00 - 12:00</td>
                <td>13:30 - 18:00</td>
                        </tr>
                        <tr>            
                <th scope="row">Jeudi</th>
                <td>8:00 - 12:00</td>
                <td>13:30 - 18:00</td>
                        </tr>
                        <tr>            
                <th scope="row">Vendredi</th>
                <td>8:00 - 12:00</td>
                <td>13:30 - 18:00</td>
                        </tr>
                        <tr>            
                <th scope="row">Samedi</th>
                <td>8:00 - 12:00</td>
                <td>13:30 - 18:00</td>
                        </tr>
                        <tr>            
                <th scope="row">Dimanche</th>
                <td colspan="2" style="text-align: center;">fermé</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12 footerL">
                <a href="#" class="logo"><span class="G">G</span>arage <span class="V">V</span>incent <span class="P">P</span>arroT</a>
            </div>
            <div class="col-12 py-3 footerA d-flex justify-content-between align-items-center">
                <a href="mailto:G.parrot@yahoo.fr"><i class="fas  fa-envelope"></i>G.parrot@yahoo.fr</a>
                <a href="#">&copy; Tous Droits réservés</a>
                <a href="tel:(+33) 123456789"><i class="fas  fa-phone"></i></i>(+33) 123456789</a>
            </div>
        </div>
    </div>
</footer>
<!-- Section Footer End-->

<!--theme Toggle St-->
<div class="themeToggle">
    <div class="ToggleBtn">
        <i class="fas fa-cog"></i>
    </div>
    <h3>theme Colors </h3>
    <div class="buttons">
        <div class="themeBtn" style="background: #0011ff;"></div>
        <div class="themeBtn" style="background: #ffb404;"></div>
        <div class="themeBtn" style="background: #2bff00;"></div>
        <div class="themeBtn" style="background: #fc00dbe6;"></div>
        <div class="themeBtn" style="background: #cb5825;"></div>
        <div class="themeBtn" style="background: #ff041d;"></div>
        <div class="themeBtn" style="background: #1abc9c;"></div>
        <div class="themeBtn" style="background: #9b59b6;"></div>
    </div>
</div>
<!--theme Toggle End-->