<div class="loginFormContainer">
    <span id="CloseLoginForm" class="fas fa-times"></span>
    <form action="index.php" method="post">
        <h3>User Login</h3>
        <input type="text" name="pseudo" required placeholder="Pseudo" class="box">
        <input type="email" name="email" required placeholder="E.mail" class="box">
        <input type="password" name="password" required placeholder="Password" class="box">
        <p>Mot de passe oublier <a href="#">Click Here</a></p>
        <button class="btn">Se connecter</button>
        <div class="buttons">
            <a href="#" class="btn">Inscription</a>
        </div>
    </form>
</div>