{% extends 'base.html.twig' %}

{% block title %}Hello ImagesController!{% endblock %}

{% block body %}
<style>
.top{
    margin-top: 150px;
}
</style>
<div class="my-5 top">
   <h1 class="top mt-5"> hello les images </h1>
</div>
{% endblock %}
