{% extends "@EasyAdmin/page/content.html.twig" %}
{% block title %}
	garageVP - administration
{% endblock %}

{% block content %}
	<h1>Bienvenue au sein de l'administration de garageVP</h1>

{% endblock %}
